<% layout("layouts/boilerplate") %>

<div class="error-wrapper">
  <h1>404</h1>
  <p>Oops! The page you are looking for doesn’t exist.</p>
  <a href="/dashboard" class="error-btn">Go Back to Dashboard</a>
</div>